#job1-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 4em;
}

#job1-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

#date {
    font-size: 18px;
    text-decoration: underline;
}

#experience-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 750px) {
    #date {
        font-size: 12px;
    }

    #job1-description {
        display: flex;
        flex-direction: column;
        width: 90vw;
    }

    #job-skills {
        width: 90vw;
    }
}

@media (min-width: 1301px) {
    #about-bio {
        font-size: 1em;
    }
}