span {
    color: #e0e0e0;
}
#about-img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 3px 10px 3px #14171b;
}

#about-bio {
    font-size: 12px;
    text-align: justify;
}

#about-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90vw;
    color: #e0e0e0;
}

#bio-div {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: auto;
}

h {
    border: 1px solid #2f3542;
    width: 95%;
    
}

#experience-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
    height: 20em;
}

#job1-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 4em;
}

#job1-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

#date {
    font-size: 18px;
    text-decoration: underline;
}

#experience-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 750px) {
    #about-div {
        display: flex;
        flex-direction: column;
    }

    #about-img {
        width: 40%;
        height: 40%;
    }

    #bio-div {
        padding-top: 1em;
        width: 90vw;
    }

    #date {
        font-size: 12px;
    }

    #job1-description {
        display: flex;
        flex-direction: column;
        width: 90vw;
    }

    #job-skills {
        width: 90vw;
    }
}

@media (min-width: 1301px) {
    #about-img {
        width: 70%;
        height: 70%;
    }

    #about-div {
        width: 1300px;
        align-items: center;
    }

    #about-bio {
        font-size: 1em;
    }
}