ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 3em;
    padding-right: 2em;

}

a {
    text-decoration: none;
    color: #e0e0e0;
}

a:hover {
    color: #1f94ca;
}

nav a::after {
    content: "";
    display: block;
    height: 5px;
    width: 0;
    background-color: #1f94ca;
    position: absolute;
    transition: all ease-in-out 300ms;
}

nav a:hover::after {
    width: 1em;
}

#main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
}

@media (max-width: 750px) {
    #main-container {
        justify-content: center;
    }
}

#mui-icon {
    transform: scale(1.8);
}

#home-icon {
    transform: scale(1.8);
    margin-left: 0.5em;
}

#mui-icon:hover, #home-icon:hover, #lightdark-icon:hover {
    color: #1f94ca;
}